<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <base data-ice="baseUrl" href="../../../../">
  <title data-ice="title">src/component/general/SqueletteHead.js | client</title>
  <link type="text/css" rel="stylesheet" href="css/style.css">
  <link type="text/css" rel="stylesheet" href="css/prettify-tomorrow.css">
  <script src="script/prettify/prettify.js"></script>
  <script src="script/manual.js"></script>
</head>
<body class="layout-container" data-ice="rootContainer">

<header>
  <a href="./">Home</a>
  
  <a href="identifiers.html">Reference</a>
  <a href="source.html">Source</a>
  
  <div class="search-box">
  <span>
    <img src="./image/search.png">
    <span class="search-input-edge"></span><input class="search-input"><span class="search-input-edge"></span>
  </span>
    <ul class="search-result"></ul>
  </div>
</header>

<nav class="navigation" data-ice="nav"><div>
  <ul>
    
  <li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-App">App</a></span></span></li>
<li data-ice="doc"><a data-ice="dirPath" class="nav-dir-path" href="identifiers.html#component-artistdetailpage">component/ArtistDetailPage</a><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-Artist">Artist</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-Biography">Biography</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-ListPaintArtist">ListPaintArtist</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-SimilarArtist">SimilarArtist</a></span></span></li>
<li data-ice="doc"><a data-ice="dirPath" class="nav-dir-path" href="identifiers.html#component-atelier">component/Atelier</a><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-Accueil">Accueil</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-Biography">Biography</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-MenuAtelier">MenuAtelier</a></span></span></li>
<li data-ice="doc"><a data-ice="dirPath" class="nav-dir-path" href="identifiers.html#component-chat">component/Chat</a><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-ChatMenu">ChatMenu</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-ChatModal">ChatModal</a></span></span></li>
<li data-ice="doc"><a data-ice="dirPath" class="nav-dir-path" href="identifiers.html#component-compteamateurpage">component/CompteAmateurPage</a><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-Activity">Activity</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-Comments">Comments</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-DisplayUser">DisplayUser</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-FavArtists">FavArtists</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-Likes">Likes</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-Lists">Lists</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-Matching">Matching</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-ModalNetwork">ModalNetwork</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-TabAmateurs">TabAmateurs</a></span></span></li>
<li data-ice="doc"><a data-ice="dirPath" class="nav-dir-path" href="identifiers.html#component-homepage">component/HomePage</a><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-MatchingImage">MatchingImage</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-MostMatched">MostMatched</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-RandomInfo">RandomInfo</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-SearchArtist">SearchArtist</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-SearchBar">SearchBar</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-SearchColor">SearchColor</a></span></span></li>
<li data-ice="doc"><a data-ice="dirPath" class="nav-dir-path" href="identifiers.html#component-listeamateurpage">component/ListeAmateurPage</a><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-DisplayInfoList">DisplayInfoList</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-DisplayList">DisplayList</a></span></span></li>
<li data-ice="doc"><a data-ice="dirPath" class="nav-dir-path" href="identifiers.html#component-matchingcolor">component/MatchingColor</a><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-ColorChooser">ColorChooser</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-ResultMatchingColor">ResultMatchingColor</a></span></span></li>
<li data-ice="doc"><a data-ice="dirPath" class="nav-dir-path" href="identifiers.html#component-matchingresult">component/MatchingResult</a><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-PaintingToMatch">PaintingToMatch</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-ResultMatch">ResultMatch</a></span></span></li>
<li data-ice="doc"><a data-ice="dirPath" class="nav-dir-path" href="identifiers.html#component-opuspage">component/OpusPage</a><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-Painting">Painting</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-ListPaintArtist">ListPaintArtist</a></span></span></li>
<li data-ice="doc"><a data-ice="dirPath" class="nav-dir-path" href="identifiers.html#component-userinfo">component/UserInfo</a><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-AmateurInfo">AmateurInfo</a></span></span></li>
<li data-ice="doc"><a data-ice="dirPath" class="nav-dir-path" href="identifiers.html#component-general">component/general</a><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-EmojiPicker">EmojiPicker</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-Fav">Fav</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-FavAdd">FavAdd</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-FavRemove">FavRemove</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-TestFav">TestFav</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-getFav">getFav</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-getFavM">getFavM</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-GifPicker">GifPicker</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-ListModal">ListModal</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-ListModal2">ListModal2</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-ModalArtist">ModalArtist</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-SaveMatch">SaveMatch</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-SqueletteFoot">SqueletteFoot</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-SqueletteHead">SqueletteHead</a></span></span></li>
<li data-ice="doc"><a data-ice="dirPath" class="nav-dir-path" href="identifiers.html#services">services</a><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-GoToTop">GoToTop</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-variable">V</span><span data-ice="name"><span><a href="variable/index.html#static-variable-SALT">SALT</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-variable">V</span><span data-ice="name"><span><a href="variable/index.html#static-variable-URLDayl">URLDayl</a></span></span></li>
<li data-ice="doc"><a data-ice="dirPath" class="nav-dir-path" href="identifiers.html#view">view</a><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-ArtistDetailpage">ArtistDetailpage</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-Atelier">Atelier</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-CompteAmateurPage">CompteAmateurPage</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-HomePage">HomePage</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-ListeAmateurPage">ListeAmateurPage</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-LogIn">LogIn</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-MatchingColor">MatchingColor</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-MatchingImage">MatchingImage</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-MatchingPage">MatchingPage</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-OpusPage">OpusPage</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-SignIn">SignIn</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-StartPage">StartPage</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-UserInfo">UserInfo</a></span></span></li>
</ul>
</div>
</nav>

<div class="content" data-ice="content"><h1 data-ice="title">src/component/general/SqueletteHead.js</h1>
<pre class="source-code line-number raw-source-code"><code class="prettyprint linenums" data-ice="content">import React from &quot;react&quot;;
import { Link } from &quot;react-router-dom&quot;
import { URLDayl } from &quot;../../services/constantes&quot;;
import { useLocation } from &quot;react-router&quot;;
import { useEffect } from &quot;react&quot;;
import axios from &quot;axios&quot;;
import &quot;../../webapp/css/core.css&quot;;
import &quot;../../webapp/css/carousels.css&quot;
import &quot;../../webapp/css/blocks.css&quot;
import &quot;../../webapp/css/account.css&quot;
import &quot;../../webapp/css/atelier.css&quot;
import &quot;../../webapp/css/stats.css&quot;
import &quot;../../webapp/css/social.css&quot;
import &quot;../../webapp/css/startpage.css&quot;
import Logo from &quot;../../webapp/img/logos/logo_1.svg&quot;
import ModProfil from &quot;../../webapp/img/icons/ico_mod_profile_1.svg&quot;
import ModLikes from &quot;../../webapp/img/icons/ico_mod_likes_1.svg&quot;
import ModLists from &quot;../../webapp/img/icons/ico_mod_lists_1.svg&quot;
import ModLogout from &quot;../../webapp/img/icons/ico_mod_logout_1.svg&quot;
import ModMatching from &quot;../../webapp/img/icons/ico_mod_matching_1.svg&quot;
import SignInPage from &quot;../../view/SignInPage&quot;;
import defaultLogo from &quot;../../webapp/img/icons/ico_mod_profile_1.svg&quot;
import explorer from &quot;../../webapp/img/icons/ico_explorer_2.svg&quot;
import { useState } from &quot;react&quot;;
import ChatMenu from &quot;../Chat/ChatMenu&quot;;


/**
 * website header
 * @param {object} user - user object from api
 * @param {object} setUser - user setter
 *  @param {boolean} isLogged - test if the user is logged
 * @emits - users/${user.id} : update user informations
 
 */

export default function SqueletteHead({user, setUser,isLogged}) {
  const [LogoLogged, setLogoLogged] = useState(&quot;&quot;);
  const [boolChat, setBoolChat] = useState(false);




  useEffect(() =&gt; {
 if(isLogged === true)
      axios.get(URLDayl + `users/${user.id}`, { headers: { &quot;Access-Control-Allow-Origin&quot;: &quot;*&quot;, &quot;Content-Type&quot;: &quot;application/json&quot; } }
        ).then((response) =&gt; {
          setUser(response.data)
        });
     
    }, []);

  



  // var sheet = document.styleSheets[0];
  // sheet.insertRule(&quot;:root{--color-2:#4444FF}&quot;);

  // if(isLogged === true){

  //   setLogoLogged(`url(${URLDayl}images/contentUser/${user.id}/${user.iconImage})`)
  // }

  function handleChat() {

    if (boolChat === true) {
      setBoolChat(false);
    }
    else {
      setBoolChat(true);
    }
  }

  return (
    &lt;div className=&quot;SqueletteHead&quot;&gt;
      &lt;head&gt;
        &lt;meta charSet=&quot;utf-8&quot; /&gt;
        &lt;meta httpEquiv=&quot;X-UA-Compatible&quot; content=&quot;IE=edge&quot; /&gt;
        &lt;meta name=&quot;viewport&quot; content=&quot;width=device-width, initial-scale=1.0&quot; /&gt;
        &lt;title&gt;DAYL - ARTISTE&lt;/title&gt;
        &lt;meta name=&quot;description&quot; content=&quot;Description de la page&quot; /&gt;
        &lt;link rel=&quot;canonical&quot; href=&quot;/URLDayl du lien canonique de cette page&quot; /&gt;
        &lt;link rel=&quot;preconnect&quot; href=&quot;/https://fonts.googleapis.com&quot; /&gt;
        &lt;link rel=&quot;preconnect&quot; href=&quot;/https://fonts.gstatic.com&quot; /&gt;
        &lt;link
          href=&quot;/https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&amp;display=swap&quot;
          rel=&quot;stylesheet&quot; 
        /&gt;
      &lt;/head&gt;

      {/* HEADER - d&#xE9;but */}
      &lt;header&gt;
        {/* ******************************************************
          ***********************************************************

          MENU BARRE HORIZONTALE HAUT DE PAGE - d&#xE9;but

          ***********************************************************
			    ****************************************************  */}
        &lt;nav&gt;
          {/* &lt;!-- BARRE ARRI&#xC8;RE-PLAN - d&#xE9;but --&gt; */}
          &lt;div className=&quot;topBarBg&quot;&gt;&lt;/div&gt;
          {/* &lt;!-- BARRE ARRI&#xC8;RE-PLAN - fin --&gt; */}
          {/* &lt;!-- LOGO DAYL - d&#xE9;but --&gt; */}

          &lt;Link to={{ pathname: &quot;/&quot; }}&gt;
            &lt;a className=&quot;topBarLogo&quot; href=&quot;index.html&quot; &gt;
              &lt;img src={Logo} alt=&quot;Retour &#xE0; l&apos;accueil&quot; /&gt;
            &lt;/a&gt;
          &lt;/Link&gt;
          {/* &lt;Link className=&quot;topMsgIcon&quot; rel=&quot;nofollow&quot; to={{ pathname: &quot;/StartingPage&quot; }} style={{right: &quot;50%&quot;, backgroundImage: `url(${explorer})`,transform: &quot;translate(50%, 0)&quot;}}data-tooltip-2=&quot;Explorer&quot;&gt;&lt;/Link&gt; */}
          {/* &lt;!-- LOGO DAYL - fin --&gt; */}
          {/* &lt;!-- ICONE RESEAU - d&#xE9;but --&gt; */}

          &lt;a className=&quot;topNetworkIcon&quot; rel=&quot;nofollow&quot; data-tooltip-2=&quot;R&#xE9;seau (TO DO)&quot;&gt;
            &lt;span className=&quot;topPill&quot;&gt;4&lt;/span&gt;
          &lt;/a&gt;
          {/* &lt;!-- ICONE RESEAU - fin --&gt; */}


          {/* &lt;!-- ICONE MESSAGES - d&#xE9;but --&gt; */}
          &lt;a className=&quot;topMsgIcon&quot; rel=&quot;nofollow&quot; onClick={handleChat} data-tooltip-2=&quot;Messagerie&quot;&gt;
            &lt;span className=&quot;topPill&quot;&gt;4&lt;/span&gt;
          &lt;/a&gt;
          {/* &lt;!-- ICONE MESSAGES - fin --&gt; */}


          {/* &lt;!-- ICONE NOTIFICATIONS - d&#xE9;but --&gt; */}
          &lt;a className=&quot;topNotifIcon&quot; rel=&quot;nofollow&quot; data-tooltip-2=&quot;Notifications (TO DO)&quot;&gt;
            &lt;span className=&quot;topPill&quot;&gt;4&lt;/span&gt;
          &lt;/a&gt;
          {/* &lt;!-- ICONE NOTIFICATIONS - fin --&gt; */}

          {/* &lt;!-- ///////////////////////////////////
            COMPTE MEMBRE (d&#xE9;connect&#xE9;) - d&#xE9;but
            //////////////////////////////////// --&gt;
            &lt;!-- ICONE COMPTE MEMBRE - d&#xE9;but --&gt; */}

          {isLogged === true ?
            &lt;Link to={{ pathname: `../../view/CompteAmateurPage.js` }} className={!user.iconImage ? &quot;topBarAcc topAccountIcon&quot; : &quot;topBarUser&quot;}
              rel=&quot;nofollow&quot; /* state={user} */ &gt;
              &lt;span style={/* user.iconImage !== &quot;&quot; &amp;&amp;  */{ backgroundImage: `url(${URLDayl}images/contentUser/${user.id}/${user.iconImage})` } } data-tooltip-2=&quot;Profil&quot;&gt;&lt;/span&gt;
            &lt;/Link&gt;
            : &lt;Link to={{ pathname: &quot;../../view/LogIn.js&quot; }} className={isLogged === false ? &quot;topBarAcc topAccountIcon&quot; : &quot;topBarUser&quot;}
              data-target=&quot;topLogin&quot; rel=&quot;nofollow&quot; data-tooltip-2=&quot;Connexion/Inscription&quot; &gt;
              &lt;span style={{ backgroundImage: isLogged === true &amp;&amp; `url(${URLDayl}images/contentUser/${user.id}/${user.iconImage})` }}&gt;&lt;/span&gt;
            &lt;/Link&gt;}

          {/* &lt;!-- ICONE AVATAR MEMBRE - fin --&gt;
                  &lt;!-- MODAL RACCOURCIS COMPTE MEMBRE - d&#xE9;but --&gt; */}
          {/* &lt;div id=&quot;topUserAccount&quot; className=&quot;smart-modal-content scrollAuto&quot;&gt;
            &lt;h3&gt;Mon compte&lt;/h3&gt;
            {user &amp;&amp;
              &lt;a className=&quot;smart-modal-close&quot; style={{ background: URLDayl + `images/contentUser/${user.id}/${user.iconImage}` }}&gt;
                &lt;img
                  className=&quot;img-left&quot;
                  src={URLDayl + `images/contentUser/${user.id}/${user.iconImage}`}
                  alt=&quot;Trier&quot;
                /&gt;
              &lt;/a&gt;}
          &lt;/div&gt; */}
          {/* &lt;!-- MODAL RACCOURCIS COMPTE MEMBRE - fin --&gt;
                  &lt;!-- ///////////////////////////////////
                  COMPTE MEMBRE (connect&#xE9;) - fin
                //////////////////////////////////// --&gt; */}
        &lt;/nav&gt;
        {/* &lt;!-- ******************************************************
                ***********************************************************

                MENU BARRE HORIZONTALE HAUT DE PAGE - fin

                ***********************************************************
            ******************************************************* --&gt;

&lt;!-- ******************************************************
                ***********************************************************

                MENU GLISSANT BORD GAUCHE - d&#xE9;but

                ***********************************************************
			          ******************************************************* --&gt; */}
        &lt;nav className=&quot;menu&quot;&gt;
          &lt;ul className=&quot;title-menu&quot;&gt;
            &lt;li&gt;
              &lt;a className=&quot;btmenu&quot; href=&quot;javascript:void(0);&quot;&gt;&lt;/a&gt;
              &lt;div className=&quot;wrap-list principal&quot;&gt;
                &lt;ul className=&quot;list&quot;&gt;
                  &lt;li className=&quot;titleSubmenu&quot;&gt;
                    &lt;Link  to={{ pathname: &quot;/&quot; }}&gt;
                      &lt;img
                        className=&quot;logo&quot;
                        src={Logo}
                        alt=&quot;AI Artworks - Accueil&quot;
                      /&gt;
                    &lt;/Link&gt;
                  &lt;/li&gt;
                  &lt;li className=&quot;titleSubmenu&quot;&gt;
                    &lt;Link  className=&quot;acc&quot; title=&quot;aiartworks&quot; to={{ pathname: &quot;/StartingPage&quot; }}&gt;
                      &lt;span&gt;Pr&#xE9;sentation&lt;/span&gt;
                    &lt;/Link&gt;
                  &lt;/li&gt;
                  &lt;li className=&quot;titleSubmenu&quot;&gt;
                    &lt;a  className=&quot;thm&quot;&gt;
                      &lt;span&gt;Th&#xE8;mes&lt;/span&gt;
                    &lt;/a&gt;
                  &lt;/li&gt;
                  &lt;li className=&quot;titleSubmenu&quot;&gt;
                    &lt;a  className=&quot;art&quot;&gt;
                      &lt;span&gt;Artistes&lt;/span&gt;
                    &lt;/a&gt;
                  &lt;/li&gt;
                  &lt;li className=&quot;titleSubmenu&quot;&gt;
                    &lt;a  className=&quot;mvm&quot;&gt;
                      &lt;span&gt;Mouvements Artistiques&lt;/span&gt;
                    &lt;/a&gt;
                  &lt;/li&gt;
                  &lt;li className=&quot;titleSubmenu&quot;&gt;
                    &lt;a  className=&quot;abt&quot;&gt;
                      &lt;span&gt;A propos&lt;/span&gt;
                    &lt;/a&gt;
                  &lt;/li&gt;
                  &lt;li className=&quot;titleSubmenu&quot;&gt;
                    &lt;a  className=&quot;par&quot;&gt;
                      &lt;span&gt;Partenaires&lt;/span&gt;
                    &lt;/a&gt;
                  &lt;/li&gt;
                  &lt;li className=&quot;titleSubmenu&quot;&gt;
                    &lt;a  className=&quot;cpt&quot;&gt;
                      &lt;span&gt;Mon compte&lt;/span&gt;
                    &lt;/a&gt;
                  &lt;/li&gt;
                &lt;/ul&gt;
              &lt;/div&gt;
            &lt;/li&gt;
          &lt;/ul&gt;
        &lt;/nav&gt;
        {/* &lt;!-- ******************************************************
                ***********************************************************

                MENU GLISSANT BORD GAUCHE - fin

                ***********************************************************
			          ******************************************************* --&gt; */}
      &lt;/header&gt;
      {/* &lt;!-- HEADER - fin --&gt; */}

      {boolChat === true &amp;&amp; &lt;ChatMenu boolChat={boolChat} setBoolChat={setBoolChat}/&gt;}

    &lt;/div&gt;
  );
}

</code></pre>

</div>

<footer class="footer">
  Generated by <a href="https://esdoc.org">ESDoc<span data-ice="esdocVersion">(1.1.0)</span><img src="./image/esdoc-logo-mini-black.png"></a>
</footer>

<script src="script/search_index.js"></script>
<script src="script/search.js"></script>
<script src="script/pretty-print.js"></script>
<script src="script/inherited-summary.js"></script>
<script src="script/test-summary.js"></script>
<script src="script/inner-link.js"></script>
<script src="script/patch-for-local.js"></script>
</body>
</html>
