<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <base data-ice="baseUrl" href="../../../../">
  <title data-ice="title">src/component/HomePage/RandomInfo.js | client</title>
  <link type="text/css" rel="stylesheet" href="css/style.css">
  <link type="text/css" rel="stylesheet" href="css/prettify-tomorrow.css">
  <script src="script/prettify/prettify.js"></script>
  <script src="script/manual.js"></script>
</head>
<body class="layout-container" data-ice="rootContainer">

<header>
  <a href="./">Home</a>
  
  <a href="identifiers.html">Reference</a>
  <a href="source.html">Source</a>
  
  <div class="search-box">
  <span>
    <img src="./image/search.png">
    <span class="search-input-edge"></span><input class="search-input"><span class="search-input-edge"></span>
  </span>
    <ul class="search-result"></ul>
  </div>
</header>

<nav class="navigation" data-ice="nav"><div>
  <ul>
    
  <li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-App">App</a></span></span></li>
<li data-ice="doc"><a data-ice="dirPath" class="nav-dir-path" href="identifiers.html#component-artistdetailpage">component/ArtistDetailPage</a><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-Artist">Artist</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-Biography">Biography</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-SimilarArtist">SimilarArtist</a></span></span></li>
<li data-ice="doc"><a data-ice="dirPath" class="nav-dir-path" href="identifiers.html#component-atelier">component/Atelier</a><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-Biography">Biography</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-MenuAtelier">MenuAtelier</a></span></span></li>
<li data-ice="doc"><a data-ice="dirPath" class="nav-dir-path" href="identifiers.html#component-chat">component/Chat</a><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-ChatMenu">ChatMenu</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-ChatModal">ChatModal</a></span></span></li>
<li data-ice="doc"><a data-ice="dirPath" class="nav-dir-path" href="identifiers.html#component-compteamateurpage">component/CompteAmateurPage</a><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-Activity">Activity</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-FavArtists">FavArtists</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-Likes">Likes</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-Matching">Matching</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-ModalNetwork">ModalNetwork</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-TabAmateurs">TabAmateurs</a></span></span></li>
<li data-ice="doc"><a data-ice="dirPath" class="nav-dir-path" href="identifiers.html#component-homepage">component/HomePage</a><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-RandomInfo">RandomInfo</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-SearchBar">SearchBar</a></span></span></li>
<li data-ice="doc"><a data-ice="dirPath" class="nav-dir-path" href="identifiers.html#component-matchingcolor">component/MatchingColor</a><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-ColorChooser">ColorChooser</a></span></span></li>
<li data-ice="doc"><a data-ice="dirPath" class="nav-dir-path" href="identifiers.html#component-opuspage">component/OpusPage</a><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-Painting">Painting</a></span></span></li>
<li data-ice="doc"><a data-ice="dirPath" class="nav-dir-path" href="identifiers.html#component-general">component/general</a><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-EmojiPicker">EmojiPicker</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-Fav">Fav</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-FavAdd">FavAdd</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-FavRemove">FavRemove</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-TestFav">TestFav</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-getFav">getFav</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-getFavM">getFavM</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-GifPicker">GifPicker</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-ListModal">ListModal</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-ListModal2">ListModal2</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-ModalArtist">ModalArtist</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-SaveMatch">SaveMatch</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-SqueletteFoot">SqueletteFoot</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-SqueletteHead">SqueletteHead</a></span></span></li>
<li data-ice="doc"><a data-ice="dirPath" class="nav-dir-path" href="identifiers.html#services">services</a><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-GoToTop">GoToTop</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-variable">V</span><span data-ice="name"><span><a href="variable/index.html#static-variable-SALT">SALT</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-variable">V</span><span data-ice="name"><span><a href="variable/index.html#static-variable-URLDayl">URLDayl</a></span></span></li>
<li data-ice="doc"><a data-ice="dirPath" class="nav-dir-path" href="identifiers.html#view">view</a><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-ArtistDetailpage">ArtistDetailpage</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-Atelier">Atelier</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-CompteAmateurPage">CompteAmateurPage</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-ListeAmateurPage">ListeAmateurPage</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-MatchingColor">MatchingColor</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-MatchingPage">MatchingPage</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-OpusPage">OpusPage</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-UserInfo">UserInfo</a></span></span></li>
</ul>
</div>
</nav>

<div class="content" data-ice="content"><h1 data-ice="title">src/component/HomePage/RandomInfo.js</h1>
<pre class="source-code line-number raw-source-code"><code class="prettyprint linenums" data-ice="content">import React from &quot;react&quot;;
import { useEffect, useState } from &quot;react&quot;;
import { useLocation } from &quot;react-router-dom&quot;;
import { useForm } from &quot;react-hook-form&quot;;
import { URLDayl } from &quot;../../services/constantes&quot;
import { Link } from &quot;react-router-dom&quot;;
import { useNavigate } from &quot;react-router&quot;;
import lecar from &quot;../../webapp/temp/lecar_1.jpg&quot;


/**
 * This component display random quick facts about famous color, painting, artist, style,...

 */

export default function RandomInfo() {





    return (
        &lt;div className=&quot;RandomInfo&quot; &gt;

            {/* &lt;!-- MYTHICOLORS - d&#xE9;but
			******************************************************* --&gt; */}
            &lt;section className=&quot;center-col mt-d&quot; &gt;

                &lt;div className=&quot;RandomQuickFactBox cont-l-w&quot;&gt;

                    &lt;div&gt;
                        &lt;h2&gt;Mythi&apos;Colors&lt;/h2&gt;
                        &lt;h3 style={{color:&quot;#6050DC&quot;}}&gt;Bleu Majorelle&lt;/h3&gt;
                    &lt;/div&gt;

                    &lt;div className=&quot;col&quot;&gt;
                        &lt;h4 style={{borderColor:&quot;#6050DC&quot;}}&gt;Le bleu Majorelle est un bleu clair, intense et frais.&lt;/h4&gt;
                        &lt;p&gt;En 1924, l&apos;artiste fran&#xE7;ais Jacques Majorelle (1886 - 1962) construisit sa plus grande &#x153;uvre d&apos;art, le jardin Majorelle &#xE0; Marrakech, au Maroc, et peignit les murs du jardin, les fontaines et la villa de cette nuance de bleu tr&#xE8;s intense, pour laquelle il d&#xE9;posa le nom &quot;bleu Majorelle&quot;.&lt;br /&gt;&lt;br /&gt;Il avait remarqu&#xE9; cette couleur sur des carreaux marocains, des burnous berb&#xE8;res et autour des fen&#xEA;tres des b&#xE2;timents tels que les kasbahs et les maisons en pis&#xE9; indig&#xE8;nes.&lt;/p&gt;
                    &lt;/div&gt;

                    &lt;div className=&quot;col mythiColor&quot; style={{backgroundColor:&quot;#6050DC&quot;}}&gt;
                        &lt;p&gt;Hex triplet : #6050DC&lt;br /&gt;sRGB : (96, 80, 220)&lt;br /&gt;HSV : (247&#xB0;, 64%, 86%)&lt;/p&gt;
                    &lt;/div&gt;

                &lt;/div&gt;


            &lt;/section&gt;
            {/* &lt;!-- MYTHICOLORS - fin --&gt; */}

            {/* &lt;!-- ART&apos;I&apos;FACTS - d&#xE9;but
******************************************************* --&gt; */}
            &lt;section className=&quot;center-col mt-c mb-d&quot;&gt;

                &lt;div className=&quot;RandomQuickFactBox cont-l-w mb-d&quot;&gt;

                    &lt;div&gt;
                        &lt;h2&gt;Art&apos;I&apos;Facts&lt;/h2&gt;
                        &lt;h3&gt;le Caravage&lt;/h3&gt;
                    &lt;/div&gt;

                    &lt;div className=&quot;col artistPortrait&quot; style={{ background: `url(${lecar})` }}&gt;
                        &lt;p&gt;Le Caravage, craie sur papier par Ottavio Leoni, vers 1621, Florence, biblioth&#xE8;que Marucelliana&lt;/p&gt;
                    &lt;/div&gt;

                    &lt;div className=&quot;col&quot;&gt;
                        &lt;h4&gt;C&#xE9;l&#xE8;bre peintre... et criminel notoire&lt;/h4&gt;
                        &lt;p&gt;Michelangelo Merisi da Caravaggio, francis&#xE9; Caravage ou le Caravage, est un peintre italien, n&#xE9; le 29 septembre 1571 &#xE0; Milan et mort le 18 juillet 1610 &#xE0; Porto Ercole.&lt;br /&gt;&lt;br /&gt;Son &#x153;uvre puissante et novatrice r&#xE9;volutionne la peinture du xviie si&#xE8;cle par son caract&#xE8;re naturaliste, son r&#xE9;alisme parfois brutal et l&apos;emploi appuy&#xE9; de la technique du clair-obscur allant jusqu&apos;au t&#xE9;n&#xE9;brisme. Il conna&#xEE;t la c&#xE9;l&#xE9;brit&#xE9; de son vivant et influence nombre de grands peintres apr&#xE8;s lui, comme en t&#xE9;moigne l&apos;apparition du caravagisme.&lt;br /&gt;&lt;br /&gt;Apr&#xE8;s une longue p&#xE9;riode d&apos;oubli critique, il faut attendre le d&#xE9;but du xxe si&#xE8;cle pour que le g&#xE9;nie de Caravage soit pleinement reconnu, ind&#xE9;pendamment de sa r&#xE9;putation sulfureuse.&lt;/p&gt;
                    &lt;/div&gt;

                &lt;/div&gt;

            &lt;/section&gt;
            {/* &lt;!-- ART&apos;I&apos;FACTS - fin --&gt; */}




        &lt;/div&gt;
    );
}

</code></pre>

</div>

<footer class="footer">
  Generated by <a href="https://esdoc.org">ESDoc<span data-ice="esdocVersion">(1.1.0)</span><img src="./image/esdoc-logo-mini-black.png"></a>
</footer>

<script src="script/search_index.js"></script>
<script src="script/search.js"></script>
<script src="script/pretty-print.js"></script>
<script src="script/inherited-summary.js"></script>
<script src="script/test-summary.js"></script>
<script src="script/inner-link.js"></script>
<script src="script/patch-for-local.js"></script>
</body>
</html>
