<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <base data-ice="baseUrl" href="../../../../">
  <title data-ice="title">src/component/MatchingColor/ColorChooser.js | client</title>
  <link type="text/css" rel="stylesheet" href="css/style.css">
  <link type="text/css" rel="stylesheet" href="css/prettify-tomorrow.css">
  <script src="script/prettify/prettify.js"></script>
  <script src="script/manual.js"></script>
</head>
<body class="layout-container" data-ice="rootContainer">

<header>
  <a href="./">Home</a>
  
  <a href="identifiers.html">Reference</a>
  <a href="source.html">Source</a>
  
  <div class="search-box">
  <span>
    <img src="./image/search.png">
    <span class="search-input-edge"></span><input class="search-input"><span class="search-input-edge"></span>
  </span>
    <ul class="search-result"></ul>
  </div>
</header>

<nav class="navigation" data-ice="nav"><div>
  <ul>
    
  <li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-App">App</a></span></span></li>
<li data-ice="doc"><a data-ice="dirPath" class="nav-dir-path" href="identifiers.html#component-artistdetailpage">component/ArtistDetailPage</a><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-Artist">Artist</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-Biography">Biography</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-ListPaintArtist">ListPaintArtist</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-SimilarArtist">SimilarArtist</a></span></span></li>
<li data-ice="doc"><a data-ice="dirPath" class="nav-dir-path" href="identifiers.html#component-atelier">component/Atelier</a><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-Accueil">Accueil</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-Biography">Biography</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-MenuAtelier">MenuAtelier</a></span></span></li>
<li data-ice="doc"><a data-ice="dirPath" class="nav-dir-path" href="identifiers.html#component-chat">component/Chat</a><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-ChatMenu">ChatMenu</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-ChatModal">ChatModal</a></span></span></li>
<li data-ice="doc"><a data-ice="dirPath" class="nav-dir-path" href="identifiers.html#component-compteamateurpage">component/CompteAmateurPage</a><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-Activity">Activity</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-Comments">Comments</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-DisplayUser">DisplayUser</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-FavArtists">FavArtists</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-Likes">Likes</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-Lists">Lists</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-Matching">Matching</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-ModalNetwork">ModalNetwork</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-TabAmateurs">TabAmateurs</a></span></span></li>
<li data-ice="doc"><a data-ice="dirPath" class="nav-dir-path" href="identifiers.html#component-homepage">component/HomePage</a><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-MatchingImage">MatchingImage</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-MostMatched">MostMatched</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-RandomInfo">RandomInfo</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-SearchArtist">SearchArtist</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-SearchBar">SearchBar</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-SearchColor">SearchColor</a></span></span></li>
<li data-ice="doc"><a data-ice="dirPath" class="nav-dir-path" href="identifiers.html#component-listeamateurpage">component/ListeAmateurPage</a><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-DisplayInfoList">DisplayInfoList</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-DisplayList">DisplayList</a></span></span></li>
<li data-ice="doc"><a data-ice="dirPath" class="nav-dir-path" href="identifiers.html#component-matchingcolor">component/MatchingColor</a><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-ColorChooser">ColorChooser</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-ResultMatchingColor">ResultMatchingColor</a></span></span></li>
<li data-ice="doc"><a data-ice="dirPath" class="nav-dir-path" href="identifiers.html#component-matchingresult">component/MatchingResult</a><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-PaintingToMatch">PaintingToMatch</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-ResultMatch">ResultMatch</a></span></span></li>
<li data-ice="doc"><a data-ice="dirPath" class="nav-dir-path" href="identifiers.html#component-opuspage">component/OpusPage</a><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-Painting">Painting</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-ListPaintArtist">ListPaintArtist</a></span></span></li>
<li data-ice="doc"><a data-ice="dirPath" class="nav-dir-path" href="identifiers.html#component-userinfo">component/UserInfo</a><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-AmateurInfo">AmateurInfo</a></span></span></li>
<li data-ice="doc"><a data-ice="dirPath" class="nav-dir-path" href="identifiers.html#component-general">component/general</a><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-EmojiPicker">EmojiPicker</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-Fav">Fav</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-FavAdd">FavAdd</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-FavRemove">FavRemove</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-TestFav">TestFav</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-getFav">getFav</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-getFavM">getFavM</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-GifPicker">GifPicker</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-ListModal">ListModal</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-ListModal2">ListModal2</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-ModalArtist">ModalArtist</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-SaveMatch">SaveMatch</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-SqueletteFoot">SqueletteFoot</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-SqueletteHead">SqueletteHead</a></span></span></li>
<li data-ice="doc"><a data-ice="dirPath" class="nav-dir-path" href="identifiers.html#services">services</a><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-GoToTop">GoToTop</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-variable">V</span><span data-ice="name"><span><a href="variable/index.html#static-variable-SALT">SALT</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-variable">V</span><span data-ice="name"><span><a href="variable/index.html#static-variable-URLDayl">URLDayl</a></span></span></li>
<li data-ice="doc"><a data-ice="dirPath" class="nav-dir-path" href="identifiers.html#view">view</a><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-ArtistDetailpage">ArtistDetailpage</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-Atelier">Atelier</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-CompteAmateurPage">CompteAmateurPage</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-HomePage">HomePage</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-ListeAmateurPage">ListeAmateurPage</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-LogIn">LogIn</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-MatchingColor">MatchingColor</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-MatchingImage">MatchingImage</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-MatchingPage">MatchingPage</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-OpusPage">OpusPage</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-SignIn">SignIn</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-StartPage">StartPage</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-UserInfo">UserInfo</a></span></span></li>
</ul>
</div>
</nav>

<div class="content" data-ice="content"><h1 data-ice="title">src/component/MatchingColor/ColorChooser.js</h1>
<pre class="source-code line-number raw-source-code"><code class="prettyprint linenums" data-ice="content">import React from &quot;react&quot;;
import { useEffect, useState } from &quot;react&quot;;
import axios from &quot;axios&quot;;
import { URLDayl } from &quot;../../services/constantes&quot;
import close from &quot;../../webapp/img/icons/ico_close_2.svg&quot;
import ResultMatchingColor from &quot;./ResultMatchingColor&quot;;
import { ColorPicker, useColor } from &quot;react-color-palette&quot;;
import &quot;react-color-palette/lib/css/styles.css&quot;;
import { EmailShareButton, FacebookShareButton, PinterestShareButton, TwitterShareButton, } from &quot;react-share&quot;;
import { FacebookIcon, TwitterIcon, PinterestIcon, EmailIcon } from &quot;react-share&quot;;

/**
 * This component display a color Picker
 * @param {object} user - user object from api
 * @param {object} setUser - user setter
 *  @param {boolean} isLogged - test if the user is logged
 * @param {string} color - contain the hex code of the chosed color
 *  @param {string} setColor - color setter
 *  @emits - paintingSearch/findByColor : get list of paintings by selected color
 */

export default function ColorChooser({ color, setColor, user, setUser, isLogged }) {


	const [painting, setPainting] = useState([]);
	const [listMatch, setListMatch] = useState([]);
	const [shareUrlFb, setShareUrlFb] = useState(window.location.href);
	// const [color, setColor] = useState([]);


	// // Call Jquery script
	// useEffect(() =&gt; {
	// 	const loadFile = async () =&gt; {
	// 		const { modal } = await import(&quot;../../webapp/js/js_source/modalBox&quot;);

	// 		modal();
	// 	};
	// 	loadFile();
	// }, []);


	const handleChange = color =&gt; setColor(color);



	
	useEffect(() =&gt; {

		axios.post(
			URLDayl + `paintingSearch/findByColor`, { colorCode: color.hex, sortOrder: &quot;ASC&quot; }, { headers: { &quot;Access-Control-Allow-Origin&quot;: &quot;*&quot;, &quot;Content-Type&quot;: &quot;application/json&quot; } }
		)
			.then((response) =&gt; {

				setListMatch(response.data);
			});
	}, []);

	const handleSubmit = (event) =&gt; {
		event.preventDefault();

		axios.post(
			URLDayl + `paintingSearch/findByColor`, { colorCode: color.hex, sortOrder: &quot;ASC&quot; }, { headers: { &quot;Access-Control-Allow-Origin&quot;: &quot;*&quot;, &quot;Content-Type&quot;: &quot;application/json&quot; } }
		)
			.then((response) =&gt; {

				setListMatch(response.data);
			});

	}


	return (
		&lt;div className=&quot;ColorChooser&quot;&gt;
			{/* &lt;!-- ******************************************************
			SECTION MATCHING COULEUR - d&#xE9;but
			****************************************************** --&gt; */}
			&lt;section className=&quot;center-col cont-sty-2&quot;&gt;
				&lt;div className=&quot;cont-l-w&quot;&gt;
					&lt;div className=&quot;matchingColorTop&quot; style={{ background: `${color.hex &amp;&amp; color.hex}` }}&gt;
						&lt;p&gt;&lt;span&gt;HEX : {color.hex &amp;&amp; color.hex}&lt;/span&gt;|&lt;span&gt;RGB : {color.rgb &amp;&amp; color.rgb.r}, {color.rgb &amp;&amp; color.rgb.g}, {color.rgb &amp;&amp; color.rgb.b}&lt;/span&gt;&lt;/p&gt;

						{/* &lt;!-- Modal &quot;choisir une couleur&quot; - d&#xE9;but --&gt; */}
						&lt;div className=&quot;smart-modal&quot; &gt;
							&lt;a data-target=&quot;modalColorMatch&quot; className=&quot;smart-modal-open-2 selectOtherColor mt-a&quot;&gt;Choisir une autre couleur&lt;/a&gt;

							&lt;div id=&quot;modalColorMatch&quot; className=&quot;smart-modal-content&quot;style={{width: &quot;295px&quot;}}&gt;
								&lt;h3&gt;Choisir une couleur&lt;/h3&gt;
								&lt;a className=&quot;smart-modal-close&quot;&gt;&lt;img className=&quot;img-left&quot; src={close} alt=&quot;Trier&quot; /&gt;&lt;/a&gt;

								&lt;div className=&quot;color-picker-box&quot;&gt;

									&lt;ColorPicker width={250} height={228} color={color} onChange={setColor} hideHSV hideRGB /&gt;
									&lt;div style={{ border: &apos;2px solid #0000001a&apos;, borderRadius: &apos;50%&apos;, width: &quot;50px&quot;, height: &quot;50px&quot;, position: &quot;absolute&quot;, bottom: &quot;92px&quot;, left: &quot;25px&quot;, background: color.hex }}&gt;&lt;/div&gt;


									&lt;form onSubmit={handleSubmit}&gt;
										&lt;button type=&quot;submit&quot; className=&quot;colorPickerSub modalClose&quot; value=&quot;Choisir cette couleur&quot; &gt;Choisir cette couleur&lt;/button&gt;
									&lt;/form&gt;


								&lt;/div&gt;
							&lt;/div&gt;
						&lt;/div&gt;
						{/* &lt;!-- Modal &quot;choisir une couleur&quot; - fin --&gt; */}

					&lt;/div&gt;

					{/* &lt;!-- Enregistrer &amp; partager le matching - d&#xE9;but --&gt; */}
					&lt;ul className=&quot;hListC mt-b&quot;&gt;

						&lt;li style={{marginRight: &quot;20px&quot;}}&gt;
							{/* &lt;!-- Modal &quot;partager cette oeuvre&quot; - d&#xE9;but --&gt; */}
							&lt;FacebookShareButton url={shareUrlFb} quote={&quot;Regarde l&apos;oeuvre que j&apos;ai trouv&#xE9; sur Dayl.art !&quot;} className=&quot;Demo__some-network__share-button&quot; &gt;
                                    &lt;FacebookIcon size={32} round style={{ marginRight: &quot;1px&quot; }} /&gt;
                                &lt;/FacebookShareButton&gt;
                                &lt;TwitterShareButton url={shareUrlFb} title={&quot;Regarde l&apos;oeuvre que j&apos;ai trouv&#xE9; sur Dayl.art !&quot;} className=&quot;Demo__some-network__share-button&quot; &gt;
                                    &lt;TwitterIcon size={32} round style={{ marginRight: &quot;1px&quot; }} /&gt;
                                &lt;/TwitterShareButton&gt;
                                &lt;PinterestShareButton url={shareUrlFb} description={&quot;Regarde l&apos;oeuvre que j&apos;ai trouv&#xE9; sur Dayl.art !&quot;} className=&quot;Demo__some-network__share-button&quot; &gt;
                                    &lt;PinterestIcon size={32} round style={{ marginRight: &quot;1px&quot; }} /&gt;
                                &lt;/PinterestShareButton&gt;
                                &lt;EmailShareButton url={shareUrlFb} body={&quot;Regarde l&apos;oeuvre que j&apos;ai trouv&#xE9; sur Dayl.art !&quot;} className=&quot;Demo__some-network__share-button&quot; &gt;
                                    &lt;EmailIcon size={32} round style={{ marginRight: &quot;1px&quot; }} /&gt;
                                &lt;/EmailShareButton&gt;
                                {/* &lt;!-- Modal &quot;partager cette oeuvre&quot; - fin --&gt; */}
						&lt;/li&gt;
						&lt;li&gt;
							&lt;button className=&quot;matchSave&quot; type=&quot;button&quot;&gt;Enregistrer&lt;/button&gt;
						&lt;/li&gt;

					&lt;/ul&gt;
					{/* &lt;!-- Enregistrer &amp; partager le matching - fin --&gt; */}

				&lt;/div&gt;
			&lt;/section&gt;
			{/* &lt;!-- SECTION MATCHING COULEUR - fin --&gt; */}

			


		&lt;/div&gt;
	);
}</code></pre>

</div>

<footer class="footer">
  Generated by <a href="https://esdoc.org">ESDoc<span data-ice="esdocVersion">(1.1.0)</span><img src="./image/esdoc-logo-mini-black.png"></a>
</footer>

<script src="script/search_index.js"></script>
<script src="script/search.js"></script>
<script src="script/pretty-print.js"></script>
<script src="script/inherited-summary.js"></script>
<script src="script/test-summary.js"></script>
<script src="script/inner-link.js"></script>
<script src="script/patch-for-local.js"></script>
</body>
</html>
