<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <base data-ice="baseUrl" href="../../../../">
  <title data-ice="title">src/component/Atelier/Biography.js | client</title>
  <link type="text/css" rel="stylesheet" href="css/style.css">
  <link type="text/css" rel="stylesheet" href="css/prettify-tomorrow.css">
  <script src="script/prettify/prettify.js"></script>
  <script src="script/manual.js"></script>
</head>
<body class="layout-container" data-ice="rootContainer">

<header>
  <a href="./">Home</a>
  
  <a href="identifiers.html">Reference</a>
  <a href="source.html">Source</a>
  
  <div class="search-box">
  <span>
    <img src="./image/search.png">
    <span class="search-input-edge"></span><input class="search-input"><span class="search-input-edge"></span>
  </span>
    <ul class="search-result"></ul>
  </div>
</header>

<nav class="navigation" data-ice="nav"><div>
  <ul>
    
  <li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-App">App</a></span></span></li>
<li data-ice="doc"><a data-ice="dirPath" class="nav-dir-path" href="identifiers.html#component-artistdetailpage">component/ArtistDetailPage</a><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-Artist">Artist</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-Biography">Biography</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-ListPaintArtist">ListPaintArtist</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-SimilarArtist">SimilarArtist</a></span></span></li>
<li data-ice="doc"><a data-ice="dirPath" class="nav-dir-path" href="identifiers.html#component-atelier">component/Atelier</a><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-Accueil">Accueil</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-Biography">Biography</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-MenuAtelier">MenuAtelier</a></span></span></li>
<li data-ice="doc"><a data-ice="dirPath" class="nav-dir-path" href="identifiers.html#component-chat">component/Chat</a><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-ChatMenu">ChatMenu</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-ChatModal">ChatModal</a></span></span></li>
<li data-ice="doc"><a data-ice="dirPath" class="nav-dir-path" href="identifiers.html#component-compteamateurpage">component/CompteAmateurPage</a><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-Activity">Activity</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-Comments">Comments</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-DisplayUser">DisplayUser</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-FavArtists">FavArtists</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-Likes">Likes</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-Lists">Lists</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-Matching">Matching</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-ModalNetwork">ModalNetwork</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-TabAmateurs">TabAmateurs</a></span></span></li>
<li data-ice="doc"><a data-ice="dirPath" class="nav-dir-path" href="identifiers.html#component-homepage">component/HomePage</a><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-MatchingImage">MatchingImage</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-MostMatched">MostMatched</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-RandomInfo">RandomInfo</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-SearchArtist">SearchArtist</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-SearchBar">SearchBar</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-SearchColor">SearchColor</a></span></span></li>
<li data-ice="doc"><a data-ice="dirPath" class="nav-dir-path" href="identifiers.html#component-listeamateurpage">component/ListeAmateurPage</a><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-DisplayInfoList">DisplayInfoList</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-DisplayList">DisplayList</a></span></span></li>
<li data-ice="doc"><a data-ice="dirPath" class="nav-dir-path" href="identifiers.html#component-matchingcolor">component/MatchingColor</a><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-ColorChooser">ColorChooser</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-ResultMatchingColor">ResultMatchingColor</a></span></span></li>
<li data-ice="doc"><a data-ice="dirPath" class="nav-dir-path" href="identifiers.html#component-matchingresult">component/MatchingResult</a><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-PaintingToMatch">PaintingToMatch</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-ResultMatch">ResultMatch</a></span></span></li>
<li data-ice="doc"><a data-ice="dirPath" class="nav-dir-path" href="identifiers.html#component-opuspage">component/OpusPage</a><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-Painting">Painting</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-ListPaintArtist">ListPaintArtist</a></span></span></li>
<li data-ice="doc"><a data-ice="dirPath" class="nav-dir-path" href="identifiers.html#component-userinfo">component/UserInfo</a><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-AmateurInfo">AmateurInfo</a></span></span></li>
<li data-ice="doc"><a data-ice="dirPath" class="nav-dir-path" href="identifiers.html#component-general">component/general</a><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-EmojiPicker">EmojiPicker</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-Fav">Fav</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-FavAdd">FavAdd</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-FavRemove">FavRemove</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-TestFav">TestFav</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-getFav">getFav</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-getFavM">getFavM</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-GifPicker">GifPicker</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-ListModal">ListModal</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-ListModal2">ListModal2</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-ModalArtist">ModalArtist</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-SaveMatch">SaveMatch</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-SqueletteFoot">SqueletteFoot</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-SqueletteHead">SqueletteHead</a></span></span></li>
<li data-ice="doc"><a data-ice="dirPath" class="nav-dir-path" href="identifiers.html#services">services</a><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-GoToTop">GoToTop</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-variable">V</span><span data-ice="name"><span><a href="variable/index.html#static-variable-SALT">SALT</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-variable">V</span><span data-ice="name"><span><a href="variable/index.html#static-variable-URLDayl">URLDayl</a></span></span></li>
<li data-ice="doc"><a data-ice="dirPath" class="nav-dir-path" href="identifiers.html#view">view</a><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-ArtistDetailpage">ArtistDetailpage</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-Atelier">Atelier</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-CompteAmateurPage">CompteAmateurPage</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-HomePage">HomePage</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-ListeAmateurPage">ListeAmateurPage</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-LogIn">LogIn</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-MatchingColor">MatchingColor</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-MatchingImage">MatchingImage</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-MatchingPage">MatchingPage</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-OpusPage">OpusPage</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-SignIn">SignIn</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-StartPage">StartPage</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-UserInfo">UserInfo</a></span></span></li>
</ul>
</div>
</nav>

<div class="content" data-ice="content"><h1 data-ice="title">src/component/Atelier/Biography.js</h1>
<pre class="source-code line-number raw-source-code"><code class="prettyprint linenums" data-ice="content">import React from &quot;react&quot;;
import { useEffect, useState } from &quot;react&quot;;
import axios from &quot;axios&quot;;
import { Link } from &quot;react-router-dom&quot;;
import { URLDayl } from &quot;../../services/constantes&quot;
import MenuAtelier from &quot;./MenuAtelier&quot;;


/**
 * Page to update your Biography
 * @param {object} user - user object from api
 * @param {object} setUser - user setter
 *  @param {boolean} isLogged - test if the user is logged
 */
export default function Biography({ user, setUser, isLogged }) {


    return (

        &lt;div class=&quot;Biography&quot;&gt;
            &lt;MenuAtelier user={user} aaaaaaaaaa isLogged={isLogged} setUser={setUser} /&gt;

            &lt;main class=&quot;workShopMain&quot;&gt;

                &lt;h2&gt;Ma biographie&lt;/h2&gt;
                &lt;p&gt;Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis accumsan vehicula odio, tempus convallis eros euismod sed. Donec ultricies quam vulputate commodo suscipit.&lt;/p&gt;

                {/* &lt;!-- SECTION A PROPOS DE MOI - d&#xE9;but --&gt; */}
                &lt;section class=&quot;mt-c&quot;&gt;
                    &lt;form class=&quot;formCompact&quot; method=&quot;post&quot; action=&quot;&quot;&gt;
                        &lt;h3 class=&quot;mt-a&quot;&gt;A propos de moi&lt;/h3&gt;
                        &lt;div class=&quot;inputInline&quot;&gt;
                            &lt;input type=&quot;text&quot; size=&quot;55&quot; placeholder=&quot;Nom&quot; required /&gt;
                            &lt;input type=&quot;text&quot; size=&quot;55&quot; placeholder=&quot;Pr&#xE9;nom&quot; required /&gt;
                        &lt;/div&gt;
                        &lt;input type=&quot;text&quot; size=&quot;55&quot; placeholder=&quot;Nom d&apos;artiste&quot; required /&gt;
                        &lt;div class=&quot;inputInline&quot;&gt;
                            &lt;input type=&quot;text&quot; size=&quot;55&quot; placeholder=&quot;Ville d&apos;origine&quot; required /&gt;
                            &lt;input type=&quot;text&quot; size=&quot;55&quot; placeholder=&quot;Pays d&apos;origine&quot; required /&gt;
                        &lt;/div&gt;
                        &lt;div class=&quot;inputInline&quot;&gt;
                            &lt;input type=&quot;radio&quot; name=&quot;radio&quot; value=&quot;radio&quot; /&gt;
                            &lt;label for=&quot;radio&quot;&gt;Femme&lt;/label&gt;
                            &lt;input type=&quot;radio&quot; name=&quot;radio&quot; value=&quot;radio&quot; /&gt;
                            &lt;label for=&quot;radio&quot;&gt;Homme&lt;/label&gt;
                        &lt;/div&gt;
                        &lt;h3 class=&quot;mt-c&quot;&gt;Pr&#xE9;sentation de mon parcours&lt;/h3&gt;
                        &lt;textarea name=&quot;message&quot; rows=&quot;5&quot; cols=&quot;33&quot; placeholder=&quot;Votre message&quot;&gt;&lt;/textarea&gt;
                        &lt;h3 class=&quot;mt-c&quot;&gt;Descriptif de mon travail&lt;/h3&gt;
                        &lt;textarea name=&quot;message&quot; rows=&quot;5&quot; cols=&quot;33&quot; placeholder=&quot;Votre message&quot;&gt;&lt;/textarea&gt;
                        &lt;h3 class=&quot;mt-c&quot;&gt;Ajouter des mots cl&#xE9;s ( s&#xE9;par&#xE9;s par des virgules)&lt;/h3&gt;
                        &lt;input type=&quot;text&quot; size=&quot;55&quot; placeholder=&quot;Ex : paysage, lune, &#x2026;&quot; required /&gt;
                        &lt;div class=&quot;tagList toLeft&quot;&gt;
                            &lt;a href=&quot;#&quot;&gt;Mot-cl&#xE9;&lt;/a&gt;
                            &lt;a href=&quot;#&quot;&gt;Mot-cl&#xE9;&lt;/a&gt;
                            &lt;a href=&quot;#&quot;&gt;Mot-cl&#xE9;&lt;/a&gt;
                            &lt;a href=&quot;#&quot;&gt;Mot-cl&#xE9;&lt;/a&gt;
                            &lt;a href=&quot;#&quot;&gt;Mot-cl&#xE9;&lt;/a&gt;
                            &lt;a href=&quot;#&quot;&gt;Mot-cl&#xE9;&lt;/a&gt;
                            &lt;a href=&quot;#&quot;&gt;Mot-cl&#xE9;&lt;/a&gt;
                            &lt;a href=&quot;#&quot;&gt;Mot-cl&#xE9;&lt;/a&gt;
                        &lt;/div&gt;
                        &lt;h3 class=&quot;mt-c&quot;&gt;Ma banni&#xE8;re pro&lt;/h3&gt;
                        &lt;div class=&quot;proBanner&quot; style={{ backgroundImage: &quot;url(&apos;temp/leonora_more_1.jpg&apos;)&quot;, backgroundPosition: &quot;50% center&quot;, backgroundSize: &quot;cover&quot;, backgroundRepeat: &quot;no-repeat&quot; }}&gt;
                            {/* &lt;!-- ///////////////////////////////////
					Modal configuration de l&apos;arri&#xE8;re-plan - d&#xE9;but
					//////////////////////////////////// --&gt; */}
                            &lt;a class=&quot;openModalNow topAccountBg&quot; data-target=&quot;topAccountBg&quot; rel=&quot;nofollow&quot;&gt;
                                &lt;img src=&quot;img/icons/ico_pen_1.svg&quot; alt=&quot;Modifier l&apos;arri&#xE8;re-plan&quot; /&gt;
                            &lt;/a&gt;

                            &lt;div id=&quot;topAccountBg&quot; class=&quot;smart-modal-content scrollAuto&quot; style={{ width: &quot;340px&quot; }}&gt;
                                &lt;h3&gt;Modifier l&apos;arri&#xE8;re-plan&lt;/h3&gt;
                                &lt;a class=&quot;smart-modal-close&quot;&gt;&lt;img class=&quot;img-left&quot; src=&quot;img/icons/ico_close_2.svg&quot; alt=&quot;Fermer&quot; /&gt;&lt;/a&gt;

                                &lt;p class=&quot;fileRestriction mt-b mb-a&quot;&gt;Image au format .jpg ou .png&lt;br /&gt;2Mo maximum&lt;/p&gt;

                                &lt;div class=&quot;fileUploadInput&quot; data-text=&quot;S&#xE9;lectionnez un fichier&quot;&gt;
                                    &lt;input name=&quot;fileUploadField&quot; type=&quot;file&quot; class=&quot;fileUploadField&quot; value=&quot;&quot; /&gt;
                                &lt;/div&gt;

                            &lt;/div&gt;
                            {/* &lt;!-- ///////////////////////////////////
					Modal configuration de l&apos;arri&#xE8;re-plan - fin
					//////////////////////////////////// --&gt; */}
                        &lt;/div&gt;
                        &lt;h3 class=&quot;mt-c&quot;&gt;Mes r&#xE9;seaux sociaux pro&lt;/h3&gt;
                        &lt;div class=&quot;inputInline&quot;&gt;
                            &lt;input type=&quot;text&quot; size=&quot;55&quot; placeholder=&quot;Site internet&quot; required /&gt;
                            &lt;input type=&quot;text&quot; size=&quot;55&quot; placeholder=&quot;Page Facebook&quot; required /&gt;
                        &lt;/div&gt;
                        &lt;div class=&quot;inputInline&quot;&gt;
                            &lt;input type=&quot;text&quot; size=&quot;55&quot; placeholder=&quot;Page Instagram&quot; required /&gt;
                            &lt;input type=&quot;text&quot; size=&quot;55&quot; placeholder=&quot;Page Pinterest&quot; required /&gt;
                        &lt;/div&gt;
                        &lt;div class=&quot;inputInline&quot;&gt;
                            &lt;input type=&quot;text&quot; size=&quot;55&quot; placeholder=&quot;Page Twitter&quot; required /&gt;
                            &lt;input type=&quot;text&quot; size=&quot;55&quot; placeholder=&quot;Page LinkedIn&quot; required /&gt;
                        &lt;/div&gt;
                        &lt;div class=&quot;inputInline&quot;&gt;
                            &lt;div&gt;
                                &lt;input type=&quot;reset&quot; class=&quot;saveDraftBtn mt-a&quot; value=&quot;Sauvegarder comme brouillon&quot; /&gt;
                            &lt;/div&gt;
                            &lt;div&gt;
                                &lt;input type=&quot;submit&quot; class=&quot;submitFormBtn mt-a&quot; value=&quot;Enregistrer&quot; /&gt;
                            &lt;/div&gt;
                        &lt;/div&gt;

                    &lt;/form&gt;


                &lt;/section&gt;
                {/* &lt;!-- SECTION A PROPOS DE MOI - fin --&gt; */}
            &lt;/main&gt;
        &lt;/div&gt;
    );
}</code></pre>

</div>

<footer class="footer">
  Generated by <a href="https://esdoc.org">ESDoc<span data-ice="esdocVersion">(1.1.0)</span><img src="./image/esdoc-logo-mini-black.png"></a>
</footer>

<script src="script/search_index.js"></script>
<script src="script/search.js"></script>
<script src="script/pretty-print.js"></script>
<script src="script/inherited-summary.js"></script>
<script src="script/test-summary.js"></script>
<script src="script/inner-link.js"></script>
<script src="script/patch-for-local.js"></script>
</body>
</html>
