<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <base data-ice="baseUrl" href="../../../../">
  <title data-ice="title">src/component/ListeAmateurPage/DisplayList.js | client</title>
  <link type="text/css" rel="stylesheet" href="css/style.css">
  <link type="text/css" rel="stylesheet" href="css/prettify-tomorrow.css">
  <script src="script/prettify/prettify.js"></script>
  <script src="script/manual.js"></script>
</head>
<body class="layout-container" data-ice="rootContainer">

<header>
  <a href="./">Home</a>
  
  <a href="identifiers.html">Reference</a>
  <a href="source.html">Source</a>
  
  <div class="search-box">
  <span>
    <img src="./image/search.png">
    <span class="search-input-edge"></span><input class="search-input"><span class="search-input-edge"></span>
  </span>
    <ul class="search-result"></ul>
  </div>
</header>

<nav class="navigation" data-ice="nav"><div>
  <ul>
    
  <li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-App">App</a></span></span></li>
<li data-ice="doc"><a data-ice="dirPath" class="nav-dir-path" href="identifiers.html#component-artistdetailpage">component/ArtistDetailPage</a><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-Artist">Artist</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-Biography">Biography</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-ListPaintArtist">ListPaintArtist</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-SimilarArtist">SimilarArtist</a></span></span></li>
<li data-ice="doc"><a data-ice="dirPath" class="nav-dir-path" href="identifiers.html#component-atelier">component/Atelier</a><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-Accueil">Accueil</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-Biography">Biography</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-MenuAtelier">MenuAtelier</a></span></span></li>
<li data-ice="doc"><a data-ice="dirPath" class="nav-dir-path" href="identifiers.html#component-chat">component/Chat</a><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-ChatMenu">ChatMenu</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-ChatModal">ChatModal</a></span></span></li>
<li data-ice="doc"><a data-ice="dirPath" class="nav-dir-path" href="identifiers.html#component-compteamateurpage">component/CompteAmateurPage</a><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-Activity">Activity</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-Comments">Comments</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-DisplayUser">DisplayUser</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-FavArtists">FavArtists</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-Likes">Likes</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-Lists">Lists</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-Matching">Matching</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-ModalNetwork">ModalNetwork</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-TabAmateurs">TabAmateurs</a></span></span></li>
<li data-ice="doc"><a data-ice="dirPath" class="nav-dir-path" href="identifiers.html#component-homepage">component/HomePage</a><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-MatchingImage">MatchingImage</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-MostMatched">MostMatched</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-RandomInfo">RandomInfo</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-SearchArtist">SearchArtist</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-SearchBar">SearchBar</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-SearchColor">SearchColor</a></span></span></li>
<li data-ice="doc"><a data-ice="dirPath" class="nav-dir-path" href="identifiers.html#component-listeamateurpage">component/ListeAmateurPage</a><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-DisplayInfoList">DisplayInfoList</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-DisplayList">DisplayList</a></span></span></li>
<li data-ice="doc"><a data-ice="dirPath" class="nav-dir-path" href="identifiers.html#component-matchingcolor">component/MatchingColor</a><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-ColorChooser">ColorChooser</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-ResultMatchingColor">ResultMatchingColor</a></span></span></li>
<li data-ice="doc"><a data-ice="dirPath" class="nav-dir-path" href="identifiers.html#component-matchingresult">component/MatchingResult</a><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-PaintingToMatch">PaintingToMatch</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-ResultMatch">ResultMatch</a></span></span></li>
<li data-ice="doc"><a data-ice="dirPath" class="nav-dir-path" href="identifiers.html#component-opuspage">component/OpusPage</a><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-Painting">Painting</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-ListPaintArtist">ListPaintArtist</a></span></span></li>
<li data-ice="doc"><a data-ice="dirPath" class="nav-dir-path" href="identifiers.html#component-userinfo">component/UserInfo</a><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-AmateurInfo">AmateurInfo</a></span></span></li>
<li data-ice="doc"><a data-ice="dirPath" class="nav-dir-path" href="identifiers.html#component-general">component/general</a><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-EmojiPicker">EmojiPicker</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-Fav">Fav</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-FavAdd">FavAdd</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-FavRemove">FavRemove</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-TestFav">TestFav</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-getFav">getFav</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-getFavM">getFavM</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-GifPicker">GifPicker</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-ListModal">ListModal</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-ListModal2">ListModal2</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-ModalArtist">ModalArtist</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-SaveMatch">SaveMatch</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-SqueletteFoot">SqueletteFoot</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-SqueletteHead">SqueletteHead</a></span></span></li>
<li data-ice="doc"><a data-ice="dirPath" class="nav-dir-path" href="identifiers.html#services">services</a><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-GoToTop">GoToTop</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-variable">V</span><span data-ice="name"><span><a href="variable/index.html#static-variable-SALT">SALT</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-variable">V</span><span data-ice="name"><span><a href="variable/index.html#static-variable-URLDayl">URLDayl</a></span></span></li>
<li data-ice="doc"><a data-ice="dirPath" class="nav-dir-path" href="identifiers.html#view">view</a><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-ArtistDetailpage">ArtistDetailpage</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-Atelier">Atelier</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-CompteAmateurPage">CompteAmateurPage</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-HomePage">HomePage</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-ListeAmateurPage">ListeAmateurPage</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-LogIn">LogIn</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-MatchingColor">MatchingColor</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-MatchingImage">MatchingImage</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-MatchingPage">MatchingPage</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-OpusPage">OpusPage</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-SignIn">SignIn</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-StartPage">StartPage</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-UserInfo">UserInfo</a></span></span></li>
</ul>
</div>
</nav>

<div class="content" data-ice="content"><h1 data-ice="title">src/component/ListeAmateurPage/DisplayList.js</h1>
<pre class="source-code line-number raw-source-code"><code class="prettyprint linenums" data-ice="content">import React from &quot;react&quot;;
import { useEffect, useState } from &quot;react&quot;;
import axios from &quot;axios&quot;;
import { URLDayl } from &quot;../../services/constantes&quot;
import close from &quot;../../webapp/img/icons/ico_close_2.svg&quot;
import artist from &quot;../../webapp/img/icons/ico_artists_2.svg&quot;
import filter from &quot;../../webapp/img/icons/ico_filters_3.svg&quot;
import { Link } from &quot;react-router-dom&quot;
import ListModal from &quot;../general/ListModal&quot;;
import Fav from &quot;../general/Fav&quot;;

/**
 * This component display the list of paintings
 * @param {object} user - user object from api
 * @param {number} paintId - list id
 *  @param {boolean} isLogged - test if the user is logged
 * @emits - userLists/detailByListId?listId=${paintId} : get list of paintings
 */

export default function DisplayList({ paintId, user, isLogged }) {


    // const [listDetail, setListDetail] = useState([]);
    // const [listArtist, setListArtist] = useState([]);
    // const [boolModalArtist, setBoolModalArtist] = useState(false);
    // const [boolAllArtist, setBoolAllArtist] = useState(true);
    // const [orderDate, setOrderDate] = useState(0);
    // const [tempList, setTempList] = useState([]);

    // // Call Jquery script
    // useEffect(() =&gt; {
    //     const loadFile = async () =&gt; {
    //         const { modal } = await import(&quot;../../webapp/js/js_source/modalBox&quot;);
    //         const { init } = await import(&quot;../../webapp/js/js_source/colorPicker&quot;);
    //         const { grid } = await import(&quot;../../webapp/js/gridActions.min.js&quot;);
    //         var curColor = &quot;rgba(255,0,0,1)&quot;;

    //         init(curColor);
    //         modal();
    //         grid();
    //     };
    //     loadFile();
    // }, []);


    // //get List info//
    // useEffect(() =&gt; {
    //     axios.get(URLDayl + `userLists/detailByListId?listId=${paintId}`).then((response) =&gt; {
    //         const boolArray = response.data.listPaintings.map((el) =&gt; { return { ...el, boolVis: true } });

    //         setListDetail(boolArray);
    //         setTempList(boolArray)

    //         let tempListArtist = response.data.listPaintings.filter((v, i) =&gt; {
    //             return response.data.listPaintings.map((match) =&gt; match.artist_idtf_intern).indexOf(v.artist_idtf_intern) === i
    //         })
    //         tempListArtist = tempListArtist.map((el) =&gt; { return { ...el, boolList: true } });


    //         setListArtist([...tempListArtist])
    //     });
    // }, []);
    // console.log(listDetail)

    // //Choisis les artistes &#xE0; trier
    // function setTriArtist(index) {

    //     let tempList = [...listArtist];
    //     let tempListDetail = [...listDetail];

    //     if (tempList[index].boolList === true) {
    //         tempList[index].boolList = false;
    //         tempListDetail.map((list) =&gt; {
    //             if (list.artist_idtf_intern === tempList[index].artist_idtf_intern) {
    //                 list.boolVis = false
    //             }
    //         })
    //     }
    //     else {
    //         tempList[index].boolList = true;
    //         tempListDetail.map((list) =&gt; {
    //             if (list.artist_idtf_intern === tempList[index].artist_idtf_intern) {
    //                 list.boolVis = true
    //             }
    //         })
    //     }
    //     setListArtist([...tempList])
    //     setListDetail([...tempListDetail])

    //     testAllArtists();

    // };
    // //Test si tt les artistes sont selectionn&#xE9;s
    // function testAllArtists() {
    //     let count = 0;

    //     listArtist.map((artist) =&gt; {
    //         if (artist.boolList === true) {
    //             count++;
    //         }

    //     })

    //     if (count === listArtist.length) {

    //         setBoolAllArtist(true)


    //     }
    //     else {


    //         setBoolAllArtist(false)
    //     }


    // }
    // //OnClick bouton &quot;Tous&quot;
    // function allArtists() {

    //     let tempList = [...listArtist];
    //     let tempListDetail = [...listDetail];

    //     if (boolAllArtist === true) {
    //         for (let i = 0; i &lt; tempList.length; i++)
    //             tempList[i].boolList = false;
    //         for (let i = 0; i &lt; tempListDetail.length; i++)
    //             tempListDetail[i].boolVis = false;
    //         setBoolAllArtist(false)
    //     }
    //     else {
    //         for (let i = 0; i &lt; tempList.length; i++)
    //             tempList[i].boolList = true;
    //         for (let i = 0; i &lt; tempListDetail.length; i++)
    //             tempListDetail[i].boolVis = true;
    //         setBoolAllArtist(true)
    //     }
    //     setListArtist([...tempList])
    //     setListDetail([...tempListDetail])

    // }

    // //Ouvre la modale de tri artiste
    // function openModalArtist() {

    //     if (boolModalArtist === true) {
    //         setBoolModalArtist(false)
    //     }
    //     else {
    //         setBoolModalArtist(true)
    //     }


    // }

    // //fonction de tri par date
    // function handleOrderDate() {
    //     let bufferOrder;
    //     let bufferOrder2;
    //     if (orderDate === 0) {
    //         //tri ordre decroissant
    //         setListDetail(listDetail.sort((a, b) =&gt; b.aw_year - a.aw_year));

    //         setOrderDate(1);
    //     }
    //     else if (orderDate === 1) {
    //         //on stock les oeuvres dont la date = 0 ou null
    //         bufferOrder = listDetail.filter(function (paint) { return paint.aw_year === null || paint.aw_year === 0; })

    //         //tri ordre croissant sans les 0 et null
    //         bufferOrder2 = listDetail.filter(function (paint) { return paint.aw_year &gt; 0; }).sort((a, b) =&gt; a.aw_year - b.aw_year);
    //         console.log(bufferOrder2)
    //         //on rajoute les oeuvres tri&#xE9; au tableau de 0
    //         bufferOrder.unshift(...bufferOrder2)

    //         setListDetail(bufferOrder)
    //         setOrderDate(1);

    //         setOrderDate(2);
    //     }
    //     else if (orderDate === 2) {
    //         setListDetail(tempList);
    //         setOrderDate(0);
    //     }
    // }

    // return (
    //     &lt;div className=&quot;DisplayList&quot;&gt;

    //         {/* &lt;!-- ******************************************************
    //     OEUVRES DANS CETTE LISTE - d&#xE9;but
    //     ****************************************************** --&gt; */}
    //         &lt;section className=&quot;center-col&quot;&gt;

    //             &lt;div className=&quot;orderingBox&quot;&gt;
    //                 {/* &lt;!-- Bouton matching par ann&#xE9;e (+ ancien au + r&#xE9;cent) - d&#xE9;but --&gt; */}
    //                 &lt;button className={orderDate === 0 ? &quot;orderByDate&quot; : orderDate === 1 ? &quot;orderByDateDown&quot; : &quot;orderByDateUp&quot;} onClick={handleOrderDate} style={{ backgroundColor: &quot;#F3F3F3&quot; }}&gt;{orderDate === 0 ?&quot;Tri par date&quot; : orderDate === 1 ? &quot;Tri croissant&quot; : &quot;Tri d&#xE9;croissant&quot;}&lt;/button&gt;
    //                 {/* &lt;!-- Bouton matching par ann&#xE9;e (+ ancien au + r&#xE9;cent) - fin --&gt; */}

    //                 {/* &lt;!-- Bouton matching par artistes - d&#xE9;but --&gt; */}
    //                 &lt;button className=&quot;orderByArtist&quot; onClick={openModalArtist} style={{ backgroundColor: &quot;#F3F3F3&quot; }}&gt;Choisir vos artiste(s) &lt;/button&gt;
    //                 {boolModalArtist === true &amp;&amp;
    //                     &lt;div&gt;
    //                         &lt;div className=&quot;smart-modal-overlay&quot; style={{ display: &quot;block&quot; }}&gt;&lt;/div&gt;
    //                         &lt;div id=&quot;1777&quot; className=&quot;smart-modal-content scrollAuto&quot; style={{ display: &quot;block&quot;, transform: &quot;translate(-50%,-50%)&quot;, top: &quot;50%&quot;, left: &quot;50%&quot; }}&gt;

    //                             &lt;h3&gt;Artistes&lt;/h3&gt;
    //                             &lt;a className=&quot;smart-modal-close&quot; onClick={openModalArtist}&gt;&lt;img className=&quot;img-left&quot; src={close} alt=&quot;Trier&quot; /&gt;&lt;/a&gt;

    //                             {/* &lt;!-- checkbox artiste match&#xE9; - d&#xE9;but --&gt; */}
    //                             &lt;div className=&quot;checkLister all&quot;&gt;
    //                                 &lt;button className={boolAllArtist === true ? &quot;checkbox checked&quot; : &quot;checkbox &quot;} onClick={allArtists}&gt;&lt;/button&gt;
    //                                 &lt;span&gt;Tous&lt;/span&gt;
    //                             &lt;/div&gt;
    //                             {/* &lt;!-- checkbox artiste match&#xE9; - fin --&gt;
	// 										&lt;!-- checkbox artiste match&#xE9; - d&#xE9;but --&gt; */}
    //                             {listArtist.length &gt; 0 &amp;&amp;
    //                                 listArtist.map((artist, index) =&gt; {
    //                                     return (
    //                                         &lt;div className=&quot;checkLister&quot; &gt;

    //                                             &lt;div className={artist.boolList === true ? &quot;checkbox checked&quot; : &quot;checkbox&quot;} onClick={() =&gt; setTriArtist(index)}&gt;&lt;/div&gt;
    //                                             &lt;span&gt;{artist.artist_name_tot}&lt;/span&gt;
    //                                         &lt;/div&gt;
    //                                     )
    //                                 })}

    //                             {/* &lt;!-- checkbox artiste match&#xE9; - fin --&gt;*/}

    //                         &lt;/div&gt;
    //                     &lt;/div&gt;
    //                 }

    //                 {/* &lt;!-- Bouton matching par artistes - fin --&gt; */}
    //             &lt;/div&gt;

    //             {/* &lt;!-- GRILLE OEUVRES DE CETTE LISTE - d&#xE9;but --&gt; */}


    //             &lt;div className=&quot;cont-l-w&quot;&gt;
    //                 &lt;div className=&quot;itemGallery mt-a&quot;&gt;
    //                     &lt;div className=&quot;gridContent items&quot; &gt;
    //                         {/* &lt;!-- oeuvre - d&#xE9;but --&gt; */}
    //                         {listDetail.length &gt; 0 &amp;&amp;
    //                             listDetail.filter(filter =&gt; filter.boolVis === true).map((paint, index) =&gt; {

    //                                 // if (listArtist[index] &amp;&amp; listArtist[index].boolList === true)
    //                                 return (
    //                                     &lt;div className=&quot;item&quot; &gt;
    //                                         &lt;div className=&quot;base&quot; style={{ backgroundImage: `url(${URLDayl}images/content/mini/${paint.artist_idtf_intern}/${paint.generatedId})` }}&gt;
    //                                             &lt;button id=&quot;itemCommentState&quot; className=&quot;comment yes&quot; type=&quot;button&quot; value=&quot;notComment&quot;&gt;&lt;/button&gt;
    //                                             &lt;Fav user={user} isLogged={isLogged} favPaint={paint} /&gt;
    //                                             &lt;ListModal user={user} isLogged={isLogged} listPaint={paint} /&gt;
    //                                         &lt;/div&gt;
    //                                         &lt;div className=&quot;hidden&quot;&gt;
    //                                             &lt;div className=&quot;revealShadow&quot;&gt;&lt;/div&gt;
    //                                             &lt;h3 className=&quot;itemArtist&quot;&gt;{paint.artist_name_tot}&lt;/h3&gt;
    //                                             &lt;h4 className=&quot;itemName&quot;&gt;{paint.aw_title_Origin}&lt;/h4&gt;
    //                                             &lt;div className=&quot;itemYear&quot;&gt;{paint.aw_year}&lt;/div&gt;
    //                                             &lt;ul className=&quot;hListGridItem&quot;&gt;
    //                                                 &lt;li&gt;
    //                                                     &lt;div className=&quot;smart-modal&quot;&gt;
    //                                                         &lt;Link className=&quot;GridviewItem&quot; to={`../../view/OpusPage.js/${paint.id}`} state={paint.id} &gt;
    //                                                             Voir
    //                                                         &lt;/Link&gt;
    //                                                     &lt;/div&gt;
    //                                                 &lt;/li&gt;
    //                                                 &lt;li&gt;
    //                                                     &lt;Link className=&quot;GridmakeMatch&quot; to={`../../view/MatchingPage.js/${paint.id}`} state={paint.id} &gt;
    //                                                         match
    //                                                     &lt;/Link&gt;
    //                                                 &lt;/li&gt;
    //                                             &lt;/ul&gt;

    //                                         &lt;/div&gt;
    //                                         &lt;div className=&quot;name&quot;&gt;
    //                                             &lt;a&gt;{paint.artist_name_tot}&lt;/a&gt;
    //                                         &lt;/div&gt;



    //                                     &lt;/div&gt;)
    //                             })}
    //                         {/* &lt;!-- oeuvre - fin --&gt; */}
    //                     &lt;/div&gt;
    //                 &lt;/div&gt;
    //             &lt;/div&gt;
    //             {/* &lt;!--                &lt;div className=&quot;cont-l-w center-tex&quot;  wicket:id=&quot;moreImageZone&quot;&gt;--&gt;
    //         &lt;!--                    &lt;a className=&quot;viewMore&quot; wicket:id=&quot;loadMoreImages&quot;&gt;Voir plus&lt;/a&gt;--&gt;
    //         &lt;!--                &lt;/div&gt;--&gt; */}
    //         &lt;/section&gt;
    //         {/* &lt;!--                &lt;div className=&quot;cont-l-w center-tex&quot;  wicket:id=&quot;moreImageZone&quot;&gt;--&gt;
    //     &lt;!--                    &lt;a className=&quot;viewMore&quot; wicket:id=&quot;loadMoreImages&quot;&gt;Voir plus&lt;/a&gt;--&gt;
    //     &lt;!--                &lt;/div&gt;--&gt;
    //     &lt;!-- GRILLE OEUVRES DE CETTE LISTE - fin --&gt; */}



    //     &lt;/div&gt;
    // );
}</code></pre>

</div>

<footer class="footer">
  Generated by <a href="https://esdoc.org">ESDoc<span data-ice="esdocVersion">(1.1.0)</span><img src="./image/esdoc-logo-mini-black.png"></a>
</footer>

<script src="script/search_index.js"></script>
<script src="script/search.js"></script>
<script src="script/pretty-print.js"></script>
<script src="script/inherited-summary.js"></script>
<script src="script/test-summary.js"></script>
<script src="script/inner-link.js"></script>
<script src="script/patch-for-local.js"></script>
</body>
</html>
